@model Domain.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/profile/profile.css">
</head>
<body>
    <div class="container my-5">
        <h1>Profile</h1>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" class="form-control" id="firstName" name="FirstName" value="@Model.FirstName" readonly>
                </div>
                <div class="form-group">
                    <label for="lastName">Surname</label>
                    <input type="text" class="form-control" id="lastName" name="LastName" value="@Model.LastName" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="Email" value="@Model.Email" readonly>
                </div>
                <div class="form-group">
                    <label for="gmina">Gmina</label>
                    <input type="text" class="form-control" id="gmina" name="Gmina" value="@Model.Gmina" readonly>
                </div>
                <a asp-action="Edit" class="btn btn-primary">Edit</a>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
