@using Domain.ViewModels
@model RegisterViewModel
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/auth/register.css">
    <title>Registration</title>
</head>
<body>
    <div class="Reg-container">
        <h2>Registration</h2>
        <form method="post" asp-action="Register" asp-controller="Auth">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" name="Email" required />
                <span class="field-validation-valid text-danger" data-valmsg-for="@Model.Email">
            </div>
            <div class="form-group">
                <label for="FirstName">Firstname</label>
                <input type="text" id="FirstName" name="FirstName" required />
                <span class="field-validation-valid text-danger" data-valmsg-for="@Model.FirstName">
            </div>
            <div class="form-group">
                <label for="LastName">Lastname</label>
                <input type="text" id="LastName" name="LastName" required />
                <span class="field-validation-valid text-danger" data-valmsg-for="@Model.LastName">
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" required />
                <span class="field-validation-valid text-danger" data-valmsg-for="@Model.Password">
            </div>
            <div class="form-group">
                <label for="Gmina">Gmina</label>
                <input type="text" id="Gmina" name="Gmina" required />
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>
        <p class="text-center"> <a asp-action="Login" asp-controller="Auth">Already have an account?</a></p>
    </div>
</body>